@tailwind base;
@tailwind components;
@tailwind utilities;


/* not necessary because tailwind has already some base styles which contains cross browser resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
